<body>


  <h1 style="margin:auto;text-align:center;"> Admin-page</h1> 


    <div>

        <p>datele per"sonale sunt aici</p>

        <p id="idAdmin"> Id </p>
        <p id="firstNameAdmin"> First Name </p>
        <p id="lastNameAdmin"> Last Name </p>
        <p id="usernameAdmin"> UserName</p>
        <p id="emailAdmin"> Email </p>
        <p id="addressAdmin"> Address</p>
        <p id="phoneAdmin"> Phone </p>
        <p id="cardAdmin"> Card Number </p>

    </div>


    <div>

        <p>Utilizatorii</p>

        <table id="userTable">
            <tr>

                <th> Id </th>
                <th> First Name </th>
                <th> Last Name </th>
                <th> UserName</th>
                <th> Email </th>
                <th> Address</th>
                <th> Phone </th>
                <th> Card Number </th>

            </tr>

        </table>

        <div>
            <button>modifica date</button>
            <button>delete user</button>
        </div>

    </div>






    <div>
        <p>Comenziile</p>

        <table id="orderTable">
            <tr id="orderTitle">
                <th>Order id</th>
                <th>Username</th>
                <th>User Name</th>
                <th>Date and Time</th>
                <th>Total Price</th>
            </tr>
            <tr> </tr>
        </table>

        <div>
            <button>valideaza comanda</button>
            <button>modify order</button>
            <button>delete order</button>
        </div>
    </div>


    <div>
        <p>Produsele</p>
        <div>
            <table id="productTable">
                <tr>
                    <th>
                        Image
                    </th>
                    <th> Id Produs</th>
                    <th> category </th>
                    <th> Name </th>
                    <th> Author </th>
                    <th> PublishingHouse</th>
                    <th> Year </th>
                    <th> Price </th>
                    <th> InStore </th>
                    <th> Description</th>
                </tr>

            </table>
            <button>add product</button>
            <button>modify product</button>
            <button>delete product</button>
        </div>

    </div>






    

</body>