<body>

    <div id="navbar">
        <app-navbar></app-navbar>
     </div>
  <button (click)="updateToDatabase()">Update Database</button>
  <h1 style="margin:auto;text-align:center;"> Admin-page</h1> 


    <div>
        
        <p>datele personale sunt aici</p>

        <p id="idAdmin"> Id </p>
        <input id="idAdmin_inp">
        <p id="firstNameAdmin"> First Name </p>
        <input id="firstnameAdmin_inp">
        <p id="lastNameAdmin"> Last Name </p>
        <input id="lastNameAdmin_inp">
        <p id="usernameAdmin"> UserName</p>
        <input id="usernameAdmin_inp">
        <p id="emailAdmin"> Email </p>
        <input id="emailAdmin_inp">
        <p id="addressAdmin"> Address</p>
        <input id="addressAdmin_inp">
        <p id="phoneAdmin"> Phone </p>
        <input id="phoneAdmin_inp">
        <p id="cardAdmin"> Card Number </p>
        <input id="cardAdmin_inp">

        <button id="mdf1" (click)="modify_admin_data()">modifica date</button>
    </div>


    <div>

        <p>Utilizatorii</p>
        <div>
            <button (click)="addAdmin()"> Add Admin</button>
            <button  (click)="modifyUser()">modifica date</button>
            <button  (click)="deleteUser()">delete user</button>
        </div>

        <table id="userTable">
            <tr id="userTitle">

                <th> Id </th>
                <th> First Name </th>
                <th> Last Name </th>
                <th> UserName</th>
                <th> Email </th>
                <th> Address</th>
                <th> Phone </th>
                <th> Card Number </th>

            </tr>

        </table>

     

    </div>






    <div>
        <p>Comenziile</p>
        <div>
            <button>valideaza comanda</button>
            <button (click)="modifyOrder()">modify order</button>
            <button (click)="deleteOrder()">delete order</button>
        </div>
        <table id="orderTable">
            <tr id="orderTitle">
                <th>Order id</th>
                <th>Username</th>
                <th>User Name</th>
                <th>Date and Time</th>
                <th>Total Price</th>
            </tr>
            <tr> </tr>
        </table>

    
    </div>


    <div>
        <p>Produsele</p>
        <button (click)="addProduct()">add product</button>
        <button (click)="modifyProduct()">modify product</button>
        <button (click)="deleteProduct()">delete product</button>

        <div>
            <table id="productTable">
                <tr id="productTitle">
                    <th>
                        Image
                    </th>
                    <th> Id Produs</th>
                    <th> category </th>
                    <th> Name </th>
                    <th> Author </th>
                    <th> PublishingHouse</th>
                    <th> Year </th>
                    <th> Price </th>
                    <th> InStore </th>
                    <th> Description</th>
                </tr>

            </table>
          
        </div>

    </div>






    

</body>