<p>signin works!</p>
<form  #newUserInfo="ngForm"  (ngSubmit)="signInMethod(newUserInfo.value)" >
 <p>First name:</p>
<input type="text" name="fname" ngModel><br>
<p>Last name:</p>
<input type="text" name="lname" ngModel><br>
<p>Email adress:</p>
<input type="text" name="email"   ngModel><br>
<p>Adress:</p>
<input type="text" name="adress"  ngModel><br>
<p> Phone:</p>
<input type="text" name="phone" ngModel><br>
 <p>card number:<p>
<input type="text"  name="cardInfo" ngModel><br>

<p>new password:<p>
    <input type="password"  name="newPassword" ngModel><br>

<p>check password:<p>
<input type="password"  name="checkPassword" ngModel><br>

<input type="submit" value="submit" [disabled]="!newUserInfo.form.valid">

</form>