

<html>
<body>
<p>Buying cart</p>

    <a routerLink="/home" routerLinkActive="active">
    <button>
    Back Home
   </button>
   </a>
<table id="tableProducts">
    <tr>
      <th>Product Id</th>
      <th>ProductName</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total</th>
     </tr>

    

    </table>
    <form  name="delete" #Del="ngForm" (ngSubmit)="delete_product()">
    <button type="submit" >Delete Element</button>
    </form>

    <form  name="modify" #Modify="ngForm" (ngSubmit)="modify_product()">
    <button type="submit" >Modify Quantity</button>
    </form>
  
  

</body>
</html>