li {
    float: left;
    border-right:1px solid #bbb;
    color: white;
  }
  ul {
    background-color: #333;
    list-style-type: none;
  
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 14px;
    text-decoration: none;
  
     }
  
   li  .profile
   {

    display: block;
    background-color:#333;
    color:white;
    text-align: center;
    padding: 0px 14px;
    text-decoration: none;
    border:#333;;

   }





   .pressingB :hover {
  
    background-color: rgb(22, 125, 185);
   
  }
  .middle
  {
      display: inline-block;
      width: 820px;
  
     vertical-align: top;
  
  }
  #luckyImage
  {
  
    width: 25%;
    padding-right:150px;
    float:top;
  
  }
  body
  {

  background-image:url('C:/Users/Sandu/git/BookShopAngularApp/BookStore/src/assets/texture_paper.jpg');
  background-size: 100%;
  

  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    max-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  