<body>
    <div id="navbar">
        <app-navbar></app-navbar>
        </div>
     <br>
     <div >
     <div style="float:left">

        <img id="image" src="#">
     </div>

     <div>
        <div style="float:left ;padding-left: 20px">
            <p id="title">Title:</p>
            <p id="author">de </p>
            <p id="category">Categorii:</p>
            <p id="year">Data publicarii:</p>
            <p id="publish">Editura:</p>
            <p style="width:700px; word-break:break-all" id="description:">Description:</p>
        </div>

        <div style="float:right">
            <button style="width:140px ;height:30px" (click)="addInCart()">Adauga in cos</button>
            <br>
            <button style="width:140px ;height:30px" (click)="addInWish()">Adauga in wishlist</button>
            <p id="price">Pret:</p>
      

        </div>

        
        
        </div>
    </div>
</body>