<body>

    <div id="navbar">
        <app-navbar></app-navbar>
     </div>


<p>Personal Acount</p>

<div id="date personale">
<p>Datele personale</p>
<p id="nume">Nume</p>
<input  id="nume_inp" type="text">
<p></p>
<p id="prenume">Prenume</p>
<input  id="prenume_inp" type="text">
<p></p>
<p id="username">Username</p>
<input  id="username_inp" type="text">
<p></p>
<p id="email" >Email</p>
<input  id="email_inp" type="text">
<p></p>
<p id="adresa">Adresa</p>
<input  id="adresa_inp" type="text">
<p></p>
<p id="telefon">Telefon</p>
<input  id="telefon_inp" type="text">
<p></p>
<p id="card">numarul cardului:</p>
<input  id="card_inp" type="text">
<p></p>
<button>modify data</button>
</div>

<div id="comenzi">
    <p>Comenmziile facute sunt aici</p>
    <div class="dropdown1">
        <button class="dropbtn1" id="filterButton2" (click)="filter_engine()" style="width:100px">Filter order</button>
        <div class="dropdown-content1">
            <button style="width:140px" (click)="toOrderTime()"> Date and Time</button>
            <button style="width:140px" (click)="toOrderUsername()"> Username</button>
            <button style="width:140px" (click)="toOrderUserName()">User Name</button>
            <button style="width:140px" (click)="toOrderPrice()"> Exact Price</button>
            <button style="width:140px" (click)="toOrderPrice2()"> Cheaper</button>
            <button style="width:140px" (click)="toOrderPrice3()"> More expansive</button>
            <button style="width:140px" (click)="toOrderProduct()"> Product Id</button>
            <button style="width:140px" (click)="toOrderAmount()"> Exact Amount</button>
            <button style="width:140px" (click)="toOrderAmount2()"> Less Amount</button>
            <button style="width:140px" (click)="toOrderAmount3()"> More Amount</button>
     
        </div>
       
        </div>
        <button id="back_Button1" (click)="backToAllOrders()">Back to all </button>
        <input class="orderquery" id="orderquery" type="text">


    <table id="orderTable">
      <tr id="orderTitle">
          <th>Order id</th>
          <th>Date and Time</th>
          <th>Total Price</th>
      </tr>
      </table>

 </div>


 <div id="wish">
    <p>wish listul este aici</p>
    <button (click)="deleteFromWishList()">delete element</button>
    <br> <br>
    
 </div>

 <div id="recomandari">
  <p>Recomandari</p>

 </div>
</body>