<p>Personal Acount</p>

<div id="date personale">
<p>Datele personale</p>
<p id="nume">Nume</p>
<p></p>
<p id="prenume">Prenume</p>
<p></p>
<p id="username">Username</p>
<p></p>
<p id="email" >Email</p>
<p></p>
<p id="adresa">Adresa</p>
<p></p>
<p id="telefon">Telefon</p>
<p></p>
<p id="card">numarul cardului:</p>
<p></p>
<button>modify data</button>
</div>

<div id="comenzi">
    <p>Comenmziile facute sunt aici</p>
    <table id="orderTable">
      <tr id="orderTitle">
          <th>Order id</th>
          <th>Date and Time</th>
          <th>Total Price</th>
      </tr>
      </table>

 </div>


 <div id="wish">
    <p>wish listul este aici</p>
    
    <button>delete element</button>
 </div>

 <div id="recomandari">
  <p>Recomandari</p>

 </div>