
<style>
    .page{
    margin:auto;
    text-align:center;

    }
</style>
<body>
    

<div class="page">
<p>Introduceti-va datele pentru plata!</p>

<form  #newUserInfo="ngForm"  (ngSubmit)="buyMethod()" >
 <p>First name:</p>
<input type="text" name="firstName" [(ngModel)]="user.firstName"><br>
<p>Last name:</p>
<input type="text" name="lastName" [(ngModel)]="user.lastName"><br>
<p>Email adress:</p>
<input type="text" name="email"   [(ngModel)]="user.email"><br>

<p>Adress to deliver:</p>
<input type="text" name="address"  [(ngModel)]="user.address"><br>
<p> Phone:</p>
<input type="text" name="phone" [(ngModel)]="user.phone"><br>
 <p>card number:<p>
<input type="text"  name="cardNumber" [(ngModel)]="user.cardNumber"><br>




<input type="submit" value="submit" [disabled]="!newUserInfo.form.valid">

</form>

</div>
</body>